.header {
    display: flex;
    justify-content: space-between;
    background-color: $background-primary;
    align-items: center;
    padding: 37px 150px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    
    &__logo {
        display: flex;
        align-items: center;
        width: 149px;
        height: 36px;

        img {
            display: block;
            max-width: 100%;
            margin: 0;
        }
    }

    &__body {
        margin-top: -6px;
        display: flex;
        align-items: center;
    }

    &__list { 
        li {
            display: inline-block;
            font-size: $font-size;
            margin: 0 10px;
            color: $text-color;
            list-style-type: none;

            a {
                display: block;
                text-decoration: none;
            }
        }
    }

    &__buttons {
        display: flex;
    }

    &__button {
        width: 150px;
        padding: 15px;
        text-decoration: none;
        color: $font-dark-color;
        font-weight: 500;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
    }

    &__button {
        &.button-primary {    
            text-decoration: none;
            color: $red-color;
            font-size: 16px;
            border: 1px solid $red-color;
            border-radius: 50px;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        } 
    }
}
