.plan {
  margin-top: 19rem;
}

.first-text-plan {
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
  text-align: center;
  color: #0b132a;
  margin-bottom: 2rem;
}

.second-text-plan {
  margin: 2rem 0 0;

  line-height: 3rem;
  text-align: center;
  color: #4f5665;
}

.column {
  display: flex;
  justify-content: space-around;
  margin-top: 6rem;
}

.column-with-plan {
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 10px;
  width: 33rem;
  height: 76rem;
  padding-top: 8rem;
  position: relative;
}
.column-img {
  margin: 0 auto 3rem;
}

.plan-text {
  display: block;
  text-align: center;
  margin: 3rem auto;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 3rem;
}

.list-plan {
  text-align: left;
  margin-left: 7.5rem;
  line-height: 3rem;
}

.column-item {
  padding-left: 3rem;
  margin-top: auto;
  list-style-image: url("../img/jam_check.png");
}

.plan-price {
  margin-bottom: 11.5rem;
}

.select {
  position: absolute;
  top: 68rem;
  left: 14rem;
  width: 18rem;
  height: 4.5rem;
  border: 2px solid #f53838;
  box-sizing: border-box;
  border-radius: 50px;
}
