.section-two {
  display: flex;
  justify-content: space-between;
  margin: 13rem 0 0;
}

.main-text {
  font-size: 5rem;
  font-weight: 500;
  color: #0b132a;
}

span.mark {
  font-weight: 700;
}

.left-content {
  max-width: 55rem;
  width: 55rem;
}

.right-picture {
  max-width: 55rem;
  width: 55rem;
}
