.section-two {
  display: flex;
  justify-content: space-between;
  margin: 13rem 0;
}

.main-text {
  font-size: 5rem;
  font-weight: 500;
  color: #0b132a;
}

.mark {
  font-weight: 700;
}

.left-content {
  max-width: 55rem;
  width: 55rem;
}

.right-picture {
  margin-right: 8rem;
  max-width: 55rem;
  width: 55rem;
}

.second-text {
  width: 55.5rem;
  height: 6rem;
  margin-top: 2rem;
  line-height: 3rem;
  color: #4f5665;
}

.red-btn {
  color: #ffffff;
  background-color: #f53838;
  width: 25rem;
  height: 6rem;
  border-radius: 1rem;
  margin-top: 5rem;
}

.red-btn:hover {
  box-shadow: 0 2.5rem 3rem -0.5rem rgba(245, 56, 56, 0.35);
}

// адаптив
@media screen and (max-width: 375px) {
  .section-two {
    margin: 0;
    flex-direction: column-reverse;
  }
  img.right-picture_btn {
    position: static;
    margin: 0 2rem 3rem;
    width: 33.5rem;
    height: 21rem;
  }
  .main-text {
    width: 320px;
    height: 135px;
    font-size: 32px;
    line-height: 140%;
    font-weight: 600;
    margin: 0 3.5rem 1.2rem 2rem;
  }
  .second-text {
    width: 320px;
    height: 90px;
    font-size: 16px;
    line-height: 30px;
    color: #4f5665;
    margin: 0 3.5rem 2rem 2rem;
  }
  .red-btn {
    width: 33.5rem;
    height: 6rem;
    margin: 0 2rem 8rem 2rem;
  }
}
