.slick-slider {
    min-width: 0;
    display: inline-flex;
    justify-content: space-around;


	.slider__card {
        width: 430px;
        height: 230px;
        border: 2px solid red;
        border-radius: 5px;
		.name { 

		}

		.subname { 

		}

		.photo {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

			img { 

			}
		}

		.text { 

		}
	}
}