.baner__container
    .baner
        .baner__text
            h2.baner__title 
                span Subscribe Now for Get Special Features!
            .baner__subtitle
                span Let's subscribe with us and find the fun.
        .baner__button 
            a.baner__btn(href="#")
                span Subscribe Now