.footer
    .first-stage-footer
        .footer-subscribe 
            .main-text-footer Subscribe Now for <br>Get Special Features!
            .second-text-footer Let's subscribe with us and find the fun.
        .footer-button
            a.red-btn-footer(href="#")  Subscribe Now
    
    .footer-nav
        .social-nav 
            .logo
                img(src="../img/logo.png", alt="logo")
            .text-lasless <span class="mark">LaslesVPN</span> is a private virtual network that has unique features and has high security.
            .icons 
                a.icon-footer(href="#") <img src="../img/facebook.png", alt="facebook">
                a.icon-footer(href="#") <img src="../img/twitter.png", alt="twitter">
                a.icon-footer(href="#") <img src="../img/instagram.png", alt="instagram">
            .copyright ©2020LaslesVPN
        .info-nav
            .product-nav 
                ul.product-nav 
                    .footer-title_nav Product
                    li.nav-item-footer 
                        a(href="").nav-link-footer Download 
                    li.nav-item-footer
                        a(href="").nav-link-footer Pricing 
                    li.nav-item-footer
                        a(href="").nav-link-footer Location 
                    li.nav-item-footer
                        a(href="").nav-link-footer Server 
                    li.nav-item-footer
                        a(href="").nav-link-footer Countries
                    li.nav-item-footer
                        a(href="").nav-link-footer Blog 
            .engage-nav 
                ul.engage-nav 
                    .footer-title_nav Engage
                    li.nav-item-footer
                        a(href="").nav-link-footer LaslessVPN? 
                    li.nav-item-footer
                        a(href="").nav-link-footer FAQ 
                    li.nav-item-footer
                        a(href="").nav-link-footer Tutorials 
                    li.nav-item-footer
                        a(href="").nav-link-footer About Us 
                    li.nav-item-footer
                        a(href="").nav-link-footer Privacy Policy 
                    li.nav-item-footer
                        a(href="").nav-link-footer Terms of Service
            .earn-nav
                ul.earn-nav 
                    .footer-title_nav Earn Money
                    li.nav-item-footer
                        a(href="").nav-link-footer Affiliate 
                    li.nav-item-footer
                        a(href="").nav-link-footer Become Partner 


<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="js/common.js"></script>
