section.global-network
    .first-text-global Huge Global Network <br>of Fast VPN
    .second-text-global See <strong>LaslesVPN</strong> everywhere to make it easier for you when you move <br>locations.
    .img-global 
        img(src="../img/global.png", alt="global")
    .sponsored 
        img.sponsored-netflix(src="../img/netflix.png", alt="netflix")
        img.sponsored-reddit(src="../img/reddit.png", alt="reddit")
        img.sponsored-amazon(src="../img/amazon.png", alt="amazon")
        img.sponsored-discord(src="../img/discord.png", alt="discord")
        img.sponsored-spotify(src="../img/spoti.png", alt="spotify")