header.header
    //- класс тегу
    nav
        //- li добавить
        a.header-info(href="") About
        a.header-info(href="") Features
        a.header-info(href="") Pricing
        a.header-info(href="") Testimonials
        a.header-info(href="") Help

        //- в один блок
        a(href="") Sing In
        a(href="") Sign Up 
    img(src="", alt="")
