header
    .header
        a.logo(href="#") 
            img.logo-img(src="img/logo.png", alt="logo")
        nav 
            ul.nav 
                li.nav-item
                    a(href="").nav-link About 
                li.nav-item
                    a(href="").nav-link Features 
                li.nav-item
                    a(href="").nav-link Pricing 
                li.nav-item
                    a(href="").nav-link Testimonials 
                li.nav-item
                    a(href="").nav-link Help 
        ul.control 
            li.control-item
                button.control-btn.control-btn_signin Sign In
            li.control-item
                button.control-btn.control-btn_signup Sign Up