header
    .header
        a.logo(href="#") 
            img.logo-img(src="img/logo.png", alt="logo")
        nav
            ul.nav 
                li.nav-item
                    a(href="").nav-link About 
                li.nav-item
                    a(href="").nav-link Features 
                li.nav-item
                    a(href="").nav-link Pricing 
                li.nav-item
                    a(href="").nav-link Testimonials 
                li.nav-item
                    a(href="").nav-link Help 
        ul.control 
            li.control-item
                button.control-btn.control-btn_sign Sign In
            li.control-item
                button.control-btn.control-btn_sign Sign Up
        .burger-btn 
            span 
            span 
            span 
        // img.burger-img(src="../img/burger.png", alt="burger")