header.header
    //- поправить ссылку
    a(href "").header__logo
        img( src="./img/Logo.png" alt="logo").header__logo
    //- поправить классы, убрать модификаторы
    nav.header__menu--body
        ul.header__menu--list
            //- задать ли классы, убрать с а
            li 
                a(href="#").header__menu--link About
            li 
                a(href="#").header__menu--link Features
            li 
                a(href="#").header__menu--link Pricing
            li 
                a(href="#").header__menu--link Testimonials
            li 
                a(href="#").header__menu--link Help
        .header__buttons
            //- кнопкам задать состояния focus, active, hover, visited и тд
            a.header__button(href='#')
                span Sign Ip
            a.header__button.button-primary(href='#')
                span Sign Up    
