section.plan 
    .first-text-plan Choose Your Plan<!-- сделать миксин из стилей текста для переиспользования> <!-->
    .second-text-plan Let's choose the package that is best for you and explore it happily and <br>cheerfully.<!-- сделать миксин из стилей текста для переиспользования> <!-->
    .column
        +card(
            "img/free.png",
            "Free Plan",
            ["Unlimited Bandwitch", "Encrypted Connection", "No Traffic Logs", "Works on All Devices"],
            "Free",
            "#")

        +card(
            "img/standard.png",
            "Standard Plan",
            ["Unlimited Bandwitch", "Encrypted Connection", "Yes Traffic Logs", "Works on All Devices", "Connect Anyware"],
            "$9 / mo",
            "#")

        +card(
            "img/premium.png",
            "Premium Plan",
            ["Unlimited Bandwitch", "Encrypted Connection", "Yes Traffic Logs", "Works on All Devices", "Connect Anyware", "Get New Features"],
            "$12 / mo",
            "#")