section.section-two
    .left-content 
        .main-text Want anything to be <br>easy with <span class="mark">LaslesVPN.</span>
        .second-text Provide a network for all your needs with ease and fun using <br>LaslesVPN discover interesting features from us.
        button.red-btn.high-red-btn Get Started
    .right-picture
        img(src="img/head_img.png", alt="head_img")