section.section_after_statistics
    .left-picture 
        img(src="img/user.png", alt="user")
    .right-content
        .first-content We Provide Many Features You Can Use
        .second-content You can explore the features that we provide with fun and have their own functions each feature.
        ul.list 
            li.li-item 
                img.check(src="img/check.png")
                span Powerfull online protection.
            li.li-item
                img.check(src="img/check.png")
                span Internet without borders.
            li.li-item
                img.check(src="img/check.png")
                span Supercharged VPN
            li.li-item
                img.check(src="img/check.png")
                span No specific time limits.
